.flex-auto.bg-grey-xxlight
  .container.py10
    .flex.justify-center
      .form-half
        .mb10
          .mb6.flex.justify-between.items-center
            %h2.mb0 Edit Proxy

          .bg-white.p6.rounded
            .flex.flex-column
              = render 'form'
