/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
a.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
{
  border-radius: $border-radius;
  border: 1px solid $grey-dark;
  padding: 0.75rem 2rem;
  color: $grey-dark;

  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  transition: $all-transition;

  &.button-black-narrow {
    padding: 0.25rem 3rem;
    color: $black;
    border: 1px solid $black;
  }

  &:hover,
  &:focus {
    color: $black;
    border: 1px solid $black;
    outline: 0;
  }

  &.button-red {
    background-color: $red;
    border: none;
    color: $white;

    &:hover {
      background-color: $dark-red;
    }
  }

  &.button-green {
    background-color: $green;
    border: none;
    color: $white;

    &:hover {
      background-color: $green-dark;
    }
  }


  &.button-blue {
    background-color: $blue;
    border: none;
    color: $white;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &.button-blue-light {
    background-color: $blue-light;
    border: none;
    color: $white;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &.button-white {
    background-color: $white;
    border: none;
    color: $black;

    &:hover {
      color: $white;
      background-color: $red;
    }
  }

  &.button-black-outline {
    border: 1px solid $black;
    color: $black;
  }

  &.button-black {
    background-color: $black;
    color: $white;
  }

  &.button-white-outline {
    border: 1px solid $white;
    color: $white;
  }

  &.button-xsmall {
    font-size: 1em;
    margin: 0.4em;
    background-color: #ffffff;
    border: none;
    color: #9B9B9B;
    padding: 1rem 1rem;
  }

  &.button-large {
    padding: 0.7em 1.5em;
  }

  &.button-xlarge {
    padding: 0.7em 1.5em;
  }

  &.button-round {
    border-radius: 60px;
  }

  &.button-wide {
    padding: 0.75rem 6rem;
  }

  &.button-small {
    font-size: 1.5rem;
    padding: 0.4rem 1rem;
  }

  &.button-full-width {
    display: block;
    width: 100%;
  }

  &.icon:before {
    content: url(https://s3.amazonaws.com/yorlook/landing_page/instagram-icon-40x40.png);
    position: absolute;
    left: 10px;
  }

  &.button-white {
    padding: 0.5rem 3rem;
    font-size: 1.8rem;
    background: white;
    color: black;
    border: none;
  }

  &.button-grey-xdark {
    padding: 0.5rem 3rem;
    font-size: 1.8rem;
    background: #383838;
    color: #fff;
    border: none;
  }
}

.icon-button {
  position: relative;
  padding-left: 40px;
}

.exclamation-title {
  color: #666666;

  h3 {
    font-size: 2rem;


    &.font-small {
      font-size: 1.5rem;
      font-weight: 600;

      .exclamation-circle {
        padding: 0 0.6rem;
      }
    }
  }
}

.exclamation-circle {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.2rem 1.1rem;
  border: 3px solid #666666;
  border-radius: 100%;
  font-weight: 600;

  &.blue {
    color: $blue-light;
    border-color: $blue-light;
  }

  &.red {
    color: $red;
    border-color: $red;
  }
}

.font-large-normal {
  .exclamation-circle {
    padding: 0 1.4rem;
  }
}

.status-active {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 26px;
  padding: 4px;
  width: 9em;
  color: #4CAF50;
  position: relative;
  bottom: 18px;
  left: 123px;
}

.status-pending {
  background-color: white;
  color: black;
  border: 2px solid #ea8a0d;
  border-radius: 26px;
  padding: 4px;
  width: 9em;
  color: #ea8a0d;
  position: relative;
  bottom: 18px;
  left: 123px;
}
