.flex.flex-column.max-w600px.m-auto.h100vh-10rem.mt4
  .center-align.pb4
    %h1.my4.font-xlarge-light.font-serif Setup complete
    %p Products will be automatically added within 48 hours
    = link_to 'Complete set up', user_outfits_path(current_user), class: 'button button-black'
