.bg-white.pt8
  .container
    .col-12
      .flex.flex-wrap.justify-between
        %div
          .font-large-normal.mb2 Privacy policy

.flex-auto.bg-grey-xxlight
  .container.py10

    %h1 What information do we collect?
    %p We collect information in a few different ways:

    %p 1. When you give it to us or give us permission to obtain it

    %p When you sign up for or use our products, you voluntarily give us certain information. This can include your name, profile photo, address, likes, email address or phone number you used to sign up, and any other information you provide us. And, if you choose to buy something on Taddar, you provide us with payment information, contact information (e.g. address and phone number) and details of what you purchased. If you buy something for someone else on Taddar, you also provide us with their delivery details and contact information.

    %p You can also give us permission to access your information in other services. For example, you may link your Instagram account to Taddar, which allows us to obtain information from Instagram (such as followers, and images). The information we get from those services often depends on your settings or their privacy policies, so be sure to check what those are.

    %p 2. We also get technical information when you use our products

    %p These days, whenever you use a website, mobile application or other Internet service, certain information is almost always created and recorded automatically. The same is true when you use our products. Here are some of the types of information we collect:

    %ul
      %li Log data. When you use Taddar, our servers automatically record information (“log data”), including information that your browser sends whenever you visit a website or your mobile app sends when you’re using it. This log data may include your Internet Protocol address, the address of the web pages you visited that had Taddar features, browser type and settings, the date and time of your request, how you used Taddar, and cookie data.
      %li Cookie data. Depending on how you’re accessing our products, we may use “cookies” (small text files sent by your computer each time you visit our website, unique to your Taddar account or your browser) or similar technologies to record log data. When we use cookies, we may use “session” cookies (that last until you close your browser) or “persistent” cookies (that last until you or your browser delete them). For example, we may use cookies to store your language preferences or other Taddar settings so you don‘t have to set them up every time you visit Taddar. Some of the cookies we use are associated with your Taddar account (including personal information about you, such as the email address you gave us), and other cookies are not.
      %li Device information. In addition to log data, we may also collect information about the device you’re using Taddar on, including what type of device it is, what operating system you’re using, device settings, unique device identifiers and crash data. Whether we collect some or all of this information often depends on what type of device you’re using and its settings. For example, different types of information are available depending on whether you’re using a Mac or a PC, or an iPhone or an Android phone. To learn more about what information your device makes available to us, please also check the policies of your device manufacturer or software provider.

    %h3 How do we use the information we collect?

    %p We use the information we collect to provide our products to you and make them better, develop new products, and protect Taddar and our users. For example, we may log how often people use two different versions of a feature, which can help us understand which feature is better.

    %ul
      %li We also use the information we collect to offer you customised content, including:

      %li Suggesting which Taggable Images you might like. For example, if you’ve indicated that you’re interested in dresses or have visited fashion websites that have Taddar features, we may suggest dress-related Taggable Images or users that we think you might like.

    %h3 We also use the information we collect to:

    %ul
      %li Send you updates (such as when certain activity, like buy orders, items shipped, happens on Taddar), newsletters, marketing materials and other information that may be of interest to you.

      %li Help your friends and contacts find you on Taddar. For example, if you sign up using a Instagram account, we may help your Instagram Followers find your account on Taddar when they first sign up for Taddar. Or, we may allow people to search for your account on Taddar using your email address.

      %li Respond to your questions or comments.

    %h3 Transferring your information

    %p Taddar is a worldwide service. By using our products or services, you authorise us to transfer and store your information outside your home country, including in the United States, for the purposes described in this policy. The privacy protections and rights of authorities to access your personal information in such countries may not be equivalent to those in your home country.

    %h3 What choices do you have about your information?

    %p Our goal is to give you simple and meaningful choices regarding your information. If you have a Taddar account, many of the choices you have on Taddar are built directly into the product or your account settings. For example, you can:

    %ul
      %li Access and change information in your profile page at any time.

      %li Close your account at any time. When you close your account, we’ll deactivate it and remove your products and Taggable Images from Taddar. We may retain archived copies of your information, and products as required by law or for legitimate business purposes (including to help address fraud and spam).

    %p You may have choices available to you through the device or software you use to access Taddar. For example:

    %ul
      %li The browser you use may provide you with the ability to control cookies or other types of local data storage.

      %li Your mobile device may provide you with choices regarding how and whether your location or other data is shared with us.


    %p To learn more about these choices, please see the information provided by the device or software provider.


    %h3 How and when do we share information?


    %p Anyone can see Taggable Images and Products you create, and the profile information you give us. We may also make this public information available through what are called “APIs” (basically a technical way to share information quickly). For example, a partner might use a Taddar API to gather which images they have Tagged Products on.. The other limited instances where we may share your personal information include:

    %ul
      %li When we have your consent. This includes sharing information with other services (such as Instgram) when you’ve chosen to link your Taddar account to Instagram.

      %li When you buy something on Taddar using your Paypal account, we may share your Paypal information, contact information and other information about the transaction with the seller you’re buying from.


      %li We may employ third-party companies or individuals to process personal information on our behalf based on our instructions and in compliance with this Privacy Policy. For example, we may share data with a security consultant to help us get better at identifying spam. In addition, some of the information we request may be collected by third-party providers on our behalf. For more information about the providers we use.

      %li If we believe that disclosure is reasonably necessary to comply with a law, regulation or legal request; to protect the safety, rights or property of the public, any person or Taddar; or to detect, prevent or otherwise address fraud, security or technical issues. We may share the information described in this Policy with our wholly owned subsidiaries and affiliates. We may engage in a merger, acquisition, bankruptcy, dissolution, reorganisation or similar transaction or proceeding that involves the transfer of the information described in this Policy. We may also share aggregated or non-personally identifiable information with our partners, advertisers or others.

    %h3 Our policy on children’s information.

    %p Taddar is not aimed at children under 13. If you learn that your minor child has provided us with personal information without your consent, please contact us.

    %h3 How do we make changes to this policy?

    %p We may change this policy from time to time and if we do we’ll post any changes on this page. If you continue to use Taddar after those changes are in effect, you agree to the revised policy. If the changes are significant, we may provide a more prominent notice or get your consent, as required by law.

    %h3 How can you contact us?

    %p The best way to contact us is online via the Contact Us web page.
