.bg-white.pt8
  .container
    .col-12
      .flex.flex-wrap.justify-between
        %div
          .font-large-normal.mb2 Terms and conditions

.flex-auto.bg-grey-xxlight
  .container.py10

    %p We collect information in a few different ways:

    %p 1. When you give it to us or give us permission to obtain it

    %p By accessing the Taddar website ("Site") or using the services offered by Taddar ("Services") you agree and acknowledge to be bound by these Terms of Service ("Terms"). If you do not agree to these Terms or to our Privacy Policy, please do not access the Site or use the Services. Taddar reserves the right to change these Terms at any time. We recommend that you periodically check this Site for changes.

    %p REGISTRATION AND ELIGIBILITY

    %p You represent and warrant that if you are an individual, you are of legal age to form a binding contract, or that if you are registering on behalf of an entity, that you are authorized to enter into, and bind the entity to, these Terms of Use and register for the Site. The Site is not available to individuals who are younger than 13 years old. Taddar may, in its sole discretion, refuse to offer the Site to any person or entity and change its eligibility criteria at any time. You are solely responsible for ensuring that these Terms of Use are in compliance with all laws, rules and regulations applicable to you and the right to access the Site is revoked where these Terms of Use or use of the Site is prohibited and, in such circumstances, you agree not to use or access the Site or Services in any way.

    %p USER CONTENT POSTED ON THE SITE

    %p You own all of the content and information you post on Taddar. In addition, for content that is covered by intellectual property rights, like photos, you specifically give us the following permission: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with Taddar ("IP License").

    %p PROHIBITED USES
    %p You may not use the Taddar site and or its services to transmit any content which:
    %ul
      %li harasses, threatens, embarrasses or causes distress, unwanted attention or discomfort upon any other person,
      %li includes sexually explicit images or other content which is offensive or harmful to minors,
      %li includes any unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, or hateful material, including but not limited to material based on a person's race, national origin, ethnicity, religion, gender, sexual orientation, disablement or other such affiliation,
      %li impersonates any person or the appearance or voice of any person,
      %li utilizes a false name or identity or a name or identity that you are not entitled or authorized to use,
      %li contains any unsolicited advertising, promotional materials, or other forms of solicitation,
      %li contravenes any application law or government regulation,
      %li violates any operating rule, regulation, procedure, policy or guideline of Taddar as published on the Taddar website,
      %li may infringe the intellectual property rights or other rights of third parties, including trademark, copyright, trade secret, patent, publicity right, or privacy right, or
      %li distributes software or other Content in violation of any license agreement.

    %p USE OF CONTENT ON EXTERNAL SITES
    %p You understand that if you use a Taddar photo on an external web site, then the photo must link back to its Taddar page on Taddar.

    %p NO WARRANTY AND LIMITATION OF LIABILITY
    %p Taddar PROVIDES THE SITE AND SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. Taddar SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, INFORMATION ACCURACY, INTEGRATION, INTEROPERABILITY OR QUIET ENJOYMENT. Some states do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you.
    %p You understand and agree that you use the Site and Services at your own discretion and risk and that you will be solely responsible for any damages that arise from such use. UNDER NO CIRCUMSTANCES SHALL Taddar BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OF ANY KIND, OR ANY OTHER DAMAGES WHATSOEVER (HOWEVER ARISING, INCLUDING BY NEGLIGENCE), INCLUDING WITHOUT LIMITATION, DAMAGES RELATED TO USE, MISUSE, RELIANCE ON, INABILITY TO USE AND INTERRUPTION, SUSPENSION, OR TERMINATION OF THE SITE OR SERVICES, DAMAGES INCURRED THROUGH ANY LINKS PROVIDED ON THE SITE AND THE NONPERFORMANCE THEREOF AND DAMAGES RESULTING FROM LOSS OF USE, SALES, DATA, GOODWILL OR PROFITS, WHETHER OR NOT Taddar HAS BEEN ADVISED OF SUCH POSSIBILITY. YOUR ONLY RIGHT WITH RESPECT TO ANY DISSATISFACTION WITH THIS SITE OR SERVICES OR WITH Taddar SHALL BE TO TERMINATE USE OF THIS SITE AND SERVICES. Some countries or states do not allow the exclusion of liability for incidental or consequential damages, so the above exclusions may not apply to you.

    %p OTHER
    %p Taddar, in its sole discretion, may terminate your membership and remove and discard any information associated with the membership with or without notice. Taddar will not be liable to you for termination of your membership to the Service.
    %p Taddar, in its sole discretion, may delete any of the content posted to the Site and remove and discard any information associated with the content with or without notice. Taddar will not be liable to you for deletion of the images.
    %p Taddar reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that Taddar shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.
    %p Taddar Terms of Service as noted above may be updated by us from time to time without notice to you. In addition, when using particular Taddar owned or operated services, you and Taddar shall be subject to any posted guidelines or rules applicable to such services, which may be posted from time to time.
